body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #121212;
  color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  padding: 1rem 2rem;
  border-radius: 0 0 10px 10px;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

nav a {
  color: #bbb;
  margin-left: 1.5rem;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  color: #fff;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 8%;
  min-height: 80vh;
  flex-wrap: wrap;
}

.text {
  max-width: 50%;
  min-width: 300px;
}

.text h1 {
  font-size: 2rem;
  line-height: 1.5;
}

.text p {
  color: #aaa;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

/* Gradient effect for City */
.highlight-city {
  background: linear-gradient(90deg, orange, dodgerblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

/* Color for your name */
.highlight-name {
  color: orange;
}

.email-btn {
  background-color: #2e2e2e;
  color: #f5f5f5;
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.email-btn:hover {
  background-color: #444;
}

.profile-pic img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.page-content {
  padding: 5rem 8%;
  text-align: center;
}

.page-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .text {
    max-width: 100%;
  }

  .profile-pic {
    margin-top: 2rem;
    margin: 20px;
  }
}

footer {
  text-align: center;
  padding: 40px 0;
  color: #888;
  font-size: 12px;
}